body{
	text-align: center;
	
	
	background-color:black;
}
	
h2{
	
	color:black; /* You can change this color value to your desired color */


}
#headersection{
	padding: 10px;
	text-color:rgb(255, 255, 255);
	

}
#headersection h1{
	font-family: cursive;
	
}
input{
	padding: 10px;
	border-radius: 5px;
	
}
#dropbox{
	padding: 10px;
	border-radius: 5px;
	width: 15%;
}




